{% extends "layout.html" %}

{% block title %}
    Pull
{% endblock %}

{% block main %}
  <div class="text&img">
    <h1>Pull</h1>
    <img src="https://i.shgcdn.com/02a8623c-c7a9-4480-afa3-a52d1b7bb819/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="push/pull/legs">
    <p>The pull-up is one of the most effective exercises for building a thick and wide back. A lot of lifters start their pull workout off with this key movement.</p>
    <p>If you can't do pull-ups, try finding a pull-up assist machine or use a band to make the movement lighter for you.</p>
    <p>To perform this exercise properly:</p>
    <p>Start by gripping a pull-up bar with your knuckles facing towards your face and your arms fully extended.</p>
    <p>Bend your knees and cross your feet behind you.</p>
    <p>Pull yourself up until your chin is above the bar.</p>
    <p>Lower yourself back into the starting posture.</p>
    <p>Repeat for the desired number of repetitions.</p>
    <p>You can record your highest weight record for pull exercises below:</p>
  </div>
  <form action="/pull" method="post">
    <div class="mb-3">
      <label for="exercise">Exercise:</label><br>
      <select id="exercise" name="exercise">
        <option value="Pull-up">Pull up</option>
        <option value="Lat-pulldown">Lat pulldown</option>
        <option value="Deadlift">Deadlift</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="weight">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="weight" name="weight" placeholder="Weight" type="number">
      </label>
    </div>
    <div class="mb-3">
      <label for="repetitions">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="repetitions" name="repetitions" placeholder="Repetitions" type="number">
      </label>
    </div>
    <button class="btn btn-primary" type="submit">Record</button>
</form>

{% endblock %}
